.Main-all-category {
    padding: 50px 0px;
    background-color: #fbf8f6;
}

.Main-all-category span {
    padding: 15px;
    background-color: #ffff;
    cursor: pointer;
}

.Main-all-category button {
    margin-top: 20px;
    background-color: #02a95c;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 35px 0px;
}

.Main-all-category .Back-To-Home h1 {
    margin: 35px 0px;
}

.Fundraising-categories {
    padding: 50px 0px;
}

.viewCategory {
    margin: 35px 0px;
    width: 100%;
}

.Fundraising-categories img {
    max-width: 100%;
    height: 250px;
}

.viewCategory .col-lg-4 {
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.viewCategory .col-lg-4 div {
    background-color: #ffff;
    padding: 25px;
    text-transform: uppercase;
}

.viewCategory .col-lg-4:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}