.Main-your-Fundraisers {
    margin-top: 50px;
}

.Main-title-Fundreiser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main-title-Fundreiser button {
    text-align: center;
    padding: 7px 30px;
    background-color: #02a95c;
    color: #fff;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.Main-your-Fundraisers img {
    width: 100%;
    border-radius: 3px;
    height: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.Main-your-Fundraisers .Main-View-YourFundraisers {
    border-radius: 3px;
    margin-top: 50px;
    box-shadow: 0px 10px 5px 5px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.Main-your-Fundraisers .Main-view-content {
    padding: 20px;
}

.Main-view-content h6 {
    font-weight: 900px;
    font-size: 1rem!important;
}

.Main-view-content p {
    color: #666;
    font-size: .875rem;
}

.manage-Your-fundraisers {
    text-align: center;
    padding: 5px;
    margin: 15px 0px;
}