.Main-Nav {
    background-color: #fbf8f6;
    border-bottom: 2px solid #ccc;
}

.search-bar {
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}

.navLinkOption {
    display: flex;
    justify-content: space-between;
}

.search-bar .search {
    position: absolute;
    left: -22px;
    top: 7px;
    font-size: 17px;
    outline: none;
}

.modal-body input {
    width: 100%;
    border: 2px solid #000;
    padding: 6px;
}

.btn-login {
    margin-right: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.userAvatar {
    border-radius: 50%;
}

.small-media {
    display: none;
}

@media only screen and (max-width: 600px) {
    .small-media {
        display: block;
    }
    .search-bar,
    .btn-login {
        display: none;
    }
}