.Main-Nav {
    background-color: #fbf8f6;
    border-bottom: 2px solid #ccc;
}

.search-bar {
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}

.navLogin {
    text-decoration: none;
    padding: 5px 15px;
    color: #666;
}

.navLogin:hover {
    color: #02a95c;
}

.navsignup {
    text-decoration: none;
    color: #02a95c;
    border: 2px solid #02a95c;
    padding: 5px 15px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navsignup:hover {
    color: #02a95c;
}

.navLinkOption {
    display: flex;
    justify-content: space-between;
}

.search-bar .search {
    position: absolute;
    left: -22px;
    top: 7px;
    font-size: 17px;
    outline: none;
}

.modal-body input {
    width: 100%;
    border: 2px solid #000;
    padding: 6px;
}

.btn-login {
    margin-right: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.userAvatar {
    border-radius: 50%;
}

.small-media {
    display: none;
}

@media only screen and (max-width: 600px) {
    .small-media {
        display: block;
    }
    .search-bar,
    .btn-login {
        display: none;
    }
}
.btn-primary {
    color: #198754;
    background-color: #fbf8f6 !important;
    background-color: cutom-color !important;
    border-color:#fbf8f6 !important;                         
    border-color: none !important;
    /* هيك بتنعمل اما بتحطها بهاي الطريقه او بدك تعمل اشي اسمه بريفكس موديفيكيشن 
    https://react-bootstrap.github.io/getting-started/theming/
    https://stackoverflow.com/questions/50842135/how-to-change-colors-for-a-button-in-react-bootstrap
    */
}

/* .btn-primary{
    color:#000;
    background-color: none;
    border-color: none;
} */
/* 
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: none;
    border-color: none;
} */