.userAvatar {
    border-radius: 50%;
    margin-left: 10px;
}

.Main-nav {
    border-bottom: 1px solid #ccc;
}

.navLogin {
    text-decoration: none;
    padding: 10px 15px;
    color: #666;
}

.navLogin:hover {
    color: #02a95c;
}

.navsignup {
    text-decoration: none;
    color: #02a95c;
    border: 1px solid #02a95c;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navsignup:hover {
    color: #02a95c;
}

.Main-nav .form-control {
    width: 36%;
}

.Navlogo {
    cursor: pointer;
    color: #02a95c !important;
    font-weight: bold !important;
}

.nav-link {
    padding: 10px 15px;
    color: black;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}