.Main-Topfundraiser {
    /* background-color: #f8f8f8; */
    padding: 50px 20px;
}

.Main-Topfundraiser h2 {
    margin-bottom: 30px;
}

.mainViewfundraiser img {
    /*width: 450px;
    height: 250px;
    */
    width: 100%;
    height: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mainViewfundraiser {
    overflow: hidden;
}

.mainViewfundraiser h5 {
    color: #02a95c;
}

.mainViewfundraiser p {
    color: #333;
    display: block;
}

.mainViewfundraiserText {
    min-height: 400px;
    padding: 10px;
}

.mainViewfundraiserText h5 {
    margin: 20px 0px;
}

.raised {
    font-weight: bold;
}