.MainSectionFundRaiserView {
    padding-top: 50px;
    position: relative;
}

.MainSectionFundRaiserView img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 5px solid #fbf8f6;
}

.title-fundRaiserView {
    margin-bottom: 25px;
}

.create-fundRaiserView {
    font-weight: bold;
}

.context-text-funRaiserView {
    background-color: #fbf8f6;
    padding: 35px;
}

.donation-fundRaiserView {
    margin-top: 75px;
    padding: 25px;
    /* box-shadow: 5px 11px 18px 0px #ccc; */
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.donation-fundRaiserView span {
    color: #767676;
}

.target {
    color: #000000 !important;
    font-weight: bold;
    font-size: 30px;
}

.share-fundRaiserView {
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    border: none;
    padding: 5px;
    background-color: #f58131;
    position: relative;
}

.share-fundRaiserView .share-facebook {
    position: absolute;
    left: 6px;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    top: 11px;
}


/* 
.share-fundRaiserView .share-donation {
    background-color: #ffc14d;
} */

.pop-fundraiser {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.pop-fundraiser .pop-fundraiser-child {
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    border-radius: 3px;
    padding: 25px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.close-pop {
    position: absolute;
    right: 15px;
    font-size: 30px;
    top: 15px;
    cursor: pointer;
}

#basic-addon2 {
    background-color: #02a95c;
    color: #fff;
    margin-left: 15px;
}